<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTTXOU3QNl+q30b+/07Nf1J0HavQrFnYdQ5oKz6F+vZkKH1W+kn4TC6aQxT5xJk6k4dY5swXQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'web_structure/header.html.twig' %}
        <div class="container-fluid d-flex">
            {% include 'web_structure/sidebar.html.twig' %}

            <div class="col">
                <main class="main-content">
                    <!-- Add your product listings or main content here -->
                    <div class="container">
                        <h2>Productos</h2>
                        <!-- Example product listings -->
                    </div>
                </main>
            </div>
        </div>


        {% block body %}{% endblock %}
        {% include 'web_structure/footer.html.twig' %}
        <!-- FontAwesome for icons -->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    </body>
</html>
